.main-container{
    min-height: 60vh;
}

.jumbotron{
    background-image: url("img/jumbotron-bg.jpg");
    background-size: cover;
    color: #f6e7f1;
    text-shadow: #000 1px 1px 5px;
}

#basketCount{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    font-size: 0.3em;
}